[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
black = "*"
numpy = "*"
pandas = "*"
seaborn = "*"
ipykernel = "*"
scikit-learn = "*"
tensorflow = "*"
matplotlib = "*"
nltk = "*"
levenshtein = "*"
fuzzywuzzy = "*"

[dev-packages]

[requires]
python_version = "3.9"
